{% extends 'base.html' %}
{% block title %} Animals Informations - SmartTerrarium {% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">Reptiles Wiki Page:</h1><br>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ animal_info.name }}</strong></h5>
                        <p class="card-text">{{ animal_info.description }}</p>
                    </div>
                    <div class="card-footer">
                        <h6 class="mb-2">Information s:</h6>
                        <p><strong>Temperature Range:</strong> {{ habitat_info.temperature.min }}°C - {{ habitat_info.temperature.max }}°C</p>
                        <p><strong>Humidity Range:</strong> {{ habitat_info.humidity.min }}% - {{ habitat_info.humidity.max }}%</p>
                    </div>
                </div>
                <a href="{% url 'get_basic_animal_information' %}" class="btn btn-outline-success mt-3">
                    <i class="fa-solid fa-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
{% endblock %}
