{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'chart.css' %}">
    {% block title %} Charts panel {% endblock %}

</head>
<body>
{% block content %}
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
    <h1>Devices</h1>
    {% if device_id %}
        <p>Device ID: {{ device_id }}</p>
    {% else %}
        <p>No device ID available.</p>
    {% endif %}


    <h1 id="temperatureValue">{{ text }}</h1>

    <p id="demo"></p>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    var chart = null;
    var maxColumns = 8;
    var message = {
        token: "{{ access_token }}"
    };
    console.log(JSON.stringify(message));

    var socket = new WebSocket('ws://localhost:8000/device/{{ device_id }}/sensor/data');
    socket.onopen = function () {
        socket.send(JSON.stringify(message));
    };
    socket.onmessage = function (e) {
        var wsData = JSON.parse(e.data);

        var device_dict = {};
        // Licznik ilości sensorów
        var sensors_counter = 0;

        //Iteracja urządzenia
        // Iteracja po device_id
        for (var device_id in wsData) {
            if (!device_dict.hasOwnProperty(device_id)) {
                device_dict[device_id] = {};
            }
            // Iteracja po sensor_id
            for (var sensor_id in wsData[device_id]) {
                if (!device_dict[device_id].hasOwnProperty(sensor_id)) {
                    device_dict[device_id][sensor_id] = [];
                    //Po każdym przejśiu pętli sensor+1, zlicza sumę sensorów w danym urządzeniu
                    sensors_counter++;
                }
                // Dodanie nowych danych do słownika urządzeń
                device_dict[device_id][sensor_id].push([wsData[device_id][sensor_id]['timestamp'], wsData[device_id][sensor_id]['value']]);
                if (device_dict[device_id][sensor_id].length > maxColumns) {
                    device_dict[device_id][sensor_id].shift();
                }
            }
        }
        // Console.log pokazujący liczbę sensorów w danym urządzeniu
        console.log("Suma ilości zmiennych sensor_id: " + sensors_counter);


        var DeviceId = Object.keys(device_dict)[0];
        var SensorId = Object.keys(device_dict[DeviceId])[0];
        var SensorData = device_dict[DeviceId][SensorId];

        var labels = chart ? chart.data.labels : [];
        var data = chart ? chart.data.datasets[0].data : [];

        if (labels.length < maxColumns) {
            labels.push(SensorData[SensorData.length - 1][0]);
            data.push(SensorData[SensorData.length - 1][1]);
        } else {
            labels.shift();
            data.shift();
            labels.push(SensorData[SensorData.length - 1][0]);
            data.push(SensorData[SensorData.length - 1][1]);
        }

        //czas - labels - podpisy
        console.log(labels);
        //value - wartości
        console.log(data);


        var temperatureValue = SensorData[SensorData.length - 1][1];
        var formattedTemperature = temperatureValue.toFixed(1) + "°C";
        document.getElementById('temperatureValue').textContent = formattedTemperature;



        if (!chart) {
            // Inicjalizacja wykresu
            const ctx = document.getElementById('myChart');
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Terrarium Temperature: ' + formattedTemperature,
                        data: data,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    fill: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: false,
                            min: 15,
                            max: 40
                        }
                    },
                    animation: {
                        duration: 0
                    }
                }
            });
        } else {
            // Aktualizacja danych wykresu
            chart.data.labels = labels;
            chart.data.datasets[0].data = data;
            chart.data.datasets[0].label = 'Terrarium Temperature: ' + formattedTemperature;
            chart.options.animation.duration = 0;
            chart.update();
        }
    };
    </script>
    {% if access_token %}
        <p>Twój token: {{ access_token }}</p>
    {% else %}
        <p>Brak tokena.</p>
    {% endif %}
{% endblock %}
</body>
</html>


