{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script>

    <h1>Data from WebSocket:</h1>
    <div id="data-container"></div>
    <style>
		table {
			border-collapse: collapse;
			width: 100%;
			margin-top: 20px;
		}
		th, td {
			text-align: left;
			padding: 8px;
			border: 1px solid #ddd;
		}
		th {
			background-color: #f2f2f2;
			color: #333;
			font-weight: bold;
		}
	</style>
<!--    <table id="myTable">
		<thead>
			<tr>
				<th>Key 1</th>
				<th>Key 2</th>
				<th>Timestamp</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table> -->
{% endblock %}

{% block extra_js %}

    <script>
    const socket = new WebSocket('ws://localhost:8000/data')

    var testarray = [];

    var testdict = {};

    console.log(socket)
            socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            document.querySelector('#data-container').innerHTML = data;
    var obj = JSON.parse(data);
		var table = document.getElementById("myTable").getElementsByTagName("tbody")[0];

        var testsensorarray = [];

		for (var deviceid in obj) {

			if (obj.hasOwnProperty(deviceid)) {
				for (var sensorid in obj[deviceid]) {
					if (obj[deviceid].hasOwnProperty(sensorid)) {

                        if (!(deviceid in testdict)){
                            testdict[deviceid] = [];
                        }

						var timestamp = obj[deviceid][sensorid].timestamp;
						var value = obj[deviceid][sensorid].value;

                        testsensorarray.push(sensorid);
                        testsensorarray.push(timestamp);
                        testsensorarray.push(value);

                        if(testdict[deviceid].length > 5){
                            testdict[deviceid].shift();
                        }

                        testdict[deviceid].push(testsensorarray);
/*
						var row = table.insertRow(-1);
						var cell1 = row.insertCell(0);
						var cell2 = row.insertCell(1);
						var cell3 = row.insertCell(2);
						var cell4 = row.insertCell(3);

						cell1.innerHTML = deviceid;
						cell2.innerHTML = sensorid;
						cell3.innerHTML = timestamp;
						cell4.innerHTML = value; */
					}
				}
			}
		}
        for (var devicetable in testdict) {
                    testtable = document.createElement("table");
                    testtable.setAttribute(devicetable, devicetable);
                }
        for (var devicenumber in testdict){

            var testsensortable = document.getElementById(devicenumber);

            for (sensorarray in testdict[devicenumber]){

                var row = testsensortable.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

                cell1.innerHTML = devicenumber;
                cell2.innerHTML = sensorarray[0];
                cell3.innerHTML = sensorarray[1];
                cell4.innerHTML = sensorarray[2];

            }


        }



        };
    </script>
{% endblock %}